<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="shortcut icon" type="image/jpg" href="/static/images/favicon.ico"/>
</head>
<body>
    <div class="container">
        <div id="messages"></div>

        <div id="chs-win" style="display: none;">

        </div>
        <button id="start-dialog" class="str-btn">Start Dialog</button>
        <div id="mode-controls" style="display: none;">
            <button id="pass" class="btn">Pass</button>
            <button id="take" class="btn">Take</button>
        </div>

        <div id="controls">
            <button id="switch-mode" class="btn">Switch Mode</button>
            <button id="clear-history" class="btn">Clear History</button>
        </div>
        <select id='emotion-cont' class="cont">
            <option class="cont-1">Random</option>
            <option class="cont-1" class="радостный">Joy</option>
            <option class="cont-1" class="грустный">Sadness</option>
            <option class="cont-1" class="гневный">Anger</option>
            <option class="cont-1" value="брезгливый">Disgust</option>
            <option class="cont-1" value="испуганный">Fear</option>
        </select>
        <div id="model" class="emot-cont">
            <select id="emotion-state-1"class="cont-emotions">
            <option class="cont-1" value="random">Random</option>
            <option class="cont-1" value="радостный">Joy</option>
            <option class="cont-1" value="грустный">Sadness</option>
            <option class="cont-1" value="гневный">Anger</option>
            <option class="cont-1" value="брезгливый">Disgust</option>
            <option class="cont-1" value="испуганный">Fear</option>
        </select>
            <select id="emotion-state-2"class="cont-emotions">
            <option class="cont-1">Random</option>
            <option class="cont-1" class="радостный">Joy</option>
            <option class="cont-1" class="грустный">Sadness</option>
            <option class="cont-1" class="гневный">Anger</option>
            <option class="cont-1" value="брезгливый">Disgust</option>
            <option class="cont-1" value="испуганный">Fear</option>
        </select>
        </div>

    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
